{% extends 'base.html.twig' %}

{% block title %}Hello BooksController!{% endblock %}

{% block body %}


<div>
  {{ book.title }}
    {{ book.author }}
    {{ book.category }}


</div>
{% endblock %}
